html, body{
    height: 100vh;
    margin: 0;
    width: 100vw;
}
header {
    height: 30rem;
    background-color: transparent;
    align-items: center;
    display :flex;
    flex-direction: column;
    background-image: url(../images/IMG-20260805-WA0035.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    box-sizing: border-box;

}
main{
    height: 35rem;
    color: black;
    min-height: 80rem;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
#header-box {
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
}
#logo-container img {
    height: 75%;
    width: 30%;
}
#link-container {
    align-items: center;
    display: flex;
    word-spacing: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
nav,li{
    justify-content: center;
    display: inline-block;
    text-decoration: none;
}
nav,li,a {
    text-decoration: none; 
    color: white;
}
nav,li,a:hover {
    color: orange;
}
#text{
    margin-top: 2rem;
    height: 25rem;
    margin-left: 0;
    margin-right: 0;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center; 
    h1{
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }
    p1{
     align-items: center;  
     justify-content: center;
     font-size: 20px; 
    }
    text-align: center;
    color: white;
}
#main-box {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row; 
    gap: 0px;
    padding-left: 9rem;
    padding-right: 9rem;
    background: whitesmoke;
    box-sizing: border-box;
    gap: 18px;
    padding-top: 5rem;
}
.block{
    height: 20rem;
    width: 20rem;
    background-color: white;
    border-radius: 10%;
    box-shadow:
        0 4px 6px rgba(0,0,0,0.1),
        0 2px 4px  rgba(0,0,0,0.06);
    text-align: center;
    padding-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex:1;
    flex-direction: column;
    align-items: center;
    p2{
        font-size: 50px;
    }
}
footer{
    background-color: orangered;
    height: 8rem;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
}
#footer-box{
    padding-top: 30px;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    p5{
        font-size: 16px;
        font-family:'Times New Roman', Times, serif ;
        text-align: center;
        color: black;
    }
}
#Contacts-container{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
}
#horaire-container{
  font-size: 25px;
    font-family: 'Times New Roman', Times, serif; 
      justify-content: center;
    text-align: center;
}
#email-container{
   font-size: 25px;
    font-family: 'Times New Roman', Times, serif;   
     justify-content: center;
    text-align: center;
}
#text2{
    margin-top: 3rem;
    margin-bottom: 0;
   font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center; 
    width: 100%;
    font-weight: bold;
    height: 10rem;
    h1{
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }
    text-align: center;
    color: black;
}
#saisi{
    align-items: center;
    padding-left: 14rem ;
    padding-right: 14rem ;
}
#messagerie{
    padding-left: 30rem;
    padding-right: 30rem;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10%;
}
table{
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: xx-large;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 2px 4px  rgba(0,0,0,0.06);
    background-color: white;
    padding: 3rem 3rem;
    border-radius: 5%;
}
table,input{
    font-size: 40px;
     border-radius: 3%;
}
textarea{
   font-size: 42.9px; 
    border-radius: 3%;
}
button{
    font-size: 40px; 
     border-radius: 3%;
}
p3{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    justify-content: center;
    text-align: center;
    align-items: center;
}
