html, body{
    height: 100vh;
    margin: 0;
    width: 100vw;
}
header {
    height: 40rem;
    background-color: transparent;
    align-items: center;
    display :flex;
    flex-direction: column;
    background-image: url(../image/copy.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 3rem;
}
main{
    height: 35rem;
    color: black;
    padding: 0 6rem;
    box-sizing: border-box;
    min-height: 170rem;
    background-color: whitesmoke;
    width: 100%;
    box-sizing: border-box;
     align-items: center;
}
footer{
    background-color: orangered;
    height: 8rem;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
}
#header-box {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#logo-container img {
    height: 75%;
    width: 30%;
}
#link-container {
    align-items: center;
    display: flex;
    word-spacing: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
#text{
    margin-top: 110px;
    flex: 1;
    text-align: center;
p1{
    font-size: 50px;
    text-align: center;
    color: whitesmoke;
}
p2{
    font-size: 25px;
    text-align: center;
    color: whitesmoke;
}
h1{
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #E8450A;
    box-shadow:
        0 4px 6px rgba(0,0,0,0.1),
        0 2px 4px  rgba(0,0,0,0.06);
}
}
#main-box {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row; 
    gap: 20px;
}
input{
    background-color:white;
    text-align: right;
    font-size: x-large;
    color: black;
    text-decoration: none;
}
p2{
    font-size: 18px;
    font-family:'Times New Roman', Times, serif ;
    text-align: center;
}
#footer-box{
    padding-top: 30px;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    p5{
        font-size: 16px;
        font-family:'Times New Roman', Times, serif ;
        text-align: center;
        color: black;
    }
}
#Contacts-container{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
}
#horaire-container{
  font-size: 25px;
    font-family: 'Times New Roman', Times, serif; 
      justify-content: center;
    text-align: center;
}
#email-container{
   font-size: 25px;
    font-family: 'Times New Roman', Times, serif;   
     justify-content: center;
    text-align: center;
}
#mon-bouton{
    background-color: white;
    color: black;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 10%;
    text-align: right;
    box-shadow:
        0 4px 6px orange,
        0 2px 4px  orange;
        transition: .3s;
}
nav,li{
    justify-content: center;
    display: inline-block;
    text-decoration: none;
}
nav,li,a {
    text-decoration: none; 
    color: white;
}
nav,li,a:hover {
    color: orange;
}
#mon-bouton:hover{
    color: blue;
    transform: translateX(10px);
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 2px 4px  rgba(0,0,0,0.06);
}
#main-boxer{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding: 2rem  9rem ;
    box-sizing: border-box;
    background-color: whitesmoke;
    align-items: center; 
    gap: 20px;
}
#first-container{
    align-items: center;
    background-color: white;
    border-radius: 3%;
    color: black;
    display: flex;
    flex: 1;
    box-shadow:
        0 4px 6px orange,
        0 2px 4px  orange;
        transition: .3s;
    h1{
        margin-bottom: 100px;
    }
    text-align: center;
    justify-content: center;
    p6{
        font-family: times new roman;
        color: black;
        font-size: 18px;
        font-weight: normal;
    }
}
#first-container:hover{
    transform: translateY(-10px);
    box-shadow:
        0 4px 6px orange,
        0 2px 4px  orange;
}
#second-container{
     align-items: center;
    background-color: white;
    border-radius: 3%;
    color: black;
    display: flex;
    flex: 1;
    box-shadow:
        0 4px 6px orange,
        0 2px 4px  orange;
        transition: .3s;
    h1{
        margin-bottom: 100px;
    }  
    text-align: center;
    justify-content: center;
    padding: 20px 10px;
    p6{
        font-family: times new roman;
        color: black;
        font-size: 18px;
         font-weight: normal;
    }
}
#second-container:hover{
    transform: translateY(-10px);
    box-shadow:
        0 4px 6px orange,
        0 2px 4px  orange;
}
#third-container{
     align-items: center;
    background-color: white;
    border-radius: 3%;
    color: black;
    display: flex;
    flex: 1;
    box-shadow:
        0 4px 6px orange,
        0 2px 4px  orange;
        transition: .3s;
    h1{
        margin-bottom: 100px;
    }
    text-align: center;
     justify-content: center;
    padding: 20px 10px;
    p6{
        font-family: times new roman;
        color: black;
        font-size: 18px;
         font-weight: normal;
    }
}
#third-container:hover{
    transform: translateY(-10px);
    box-shadow:
        0 4px 6px orange,
        0 2px 4px  orange;
}
#text2{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    align-items: center;
    justify-content: center;
    h2{
        font-size: 35px;
        align-items: center;
    }
    p3{
      font-family: Arial, Helvetica, sans-serif; 
      color: gray; 
    }
    text-align: center;
}
#main-boxer2{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 9rem ;
    box-sizing: border-box;
    background-color: whitesmoke;
}
#first-container2{
    color: black;
    box-sizing: border-box;
    display: flex;
    height: 45vh;
}
#second-container2{
    color: black;
    box-sizing: border-box;
    display: flex;
    height: 45vh;
}
#third-container2{
    color: black;
    box-sizing: border-box;
    display: flex;
    height: 45vh;
}
#main-boxer2 img{
    height: 100%;
    width: 100%;
}
#main-boxer3{
   flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 9rem ;
    box-sizing: border-box;
    background-color: whitesmoke;
}
#first-container3{
    display: flex;
    height:45vh;
    box-sizing: border-box;
}
#second-container3{
    display: flex;
    height: 45vh;
    box-sizing: border-box;
}
#third-container3{
    display: flex;
    height: 45vh;
    box-sizing: border-box;
}
#main-boxer3 img{
    height: 100%;
    width: 100%;
}
#info-box1{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1.5rem 13rem;
    background-color: whitesmoke;
}
#info-container1{
    padding: 15px 30px;
    background-color: blue;
    border-radius: 3%;
    color: white;
    display: flex;
}
#info-container1:hover{
    color: aqua;
}
#info-container2:hover{
    color: aqua;
}
#info-container3:hover{
    color: aqua;
}
#info-container4:hover{
    color: aqua;
}
#info-container5:hover{
    color: aqua;
}
#info-container6:hover{
    color: aqua;
}
#info-container2{
    padding: 15px 30px;
    background-color: blue;
    border-radius: 3%;
    color: white;
    display: flex;
}
#info-container3{
    padding: 15px 30px;
    background-color: blue;
    border-radius: 3%;
    color: white;
    display: flex;
}
#info-box2{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1.5rem 13rem;
    background-color: whitesmoke;
}
#info-container4{
    padding: 15px 30px;
    background-color: blue;
    border-radius: 3%;
    color: white;
    display: flex;
}
#info-container5{
    padding: 15px 30px;
    background-color: blue;
    border-radius: 3%;
    color: white;
    display: flex;
}
#info-container6{
    padding: 15px 30px;
    background-color: blue;
    border-radius: 3%;
    color: white;
    display: flex;
}
#voir{
    text-align: center;
    margin: 1rem 20rem;
    font-size: 20px;
    a{
        text-decoration: none;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    background-color: orangered;
    box-shadow: 
        0 4px 6px orange,
        0 2px 4px  orange;
        padding: 10px 40px;
        border-radius: 50%;
        display: flex;
        text-align: center;
        justify-content: center;
}
#voir:hover{
    color: orange;
}
#espace{
    background-color: white;
    padding: 1.5rem 33rem;
    margin-top: 2rem;
     transform: translateY(-10px);
    box-shadow:
        0 4px 6px orange,
        0 2px 4px  orange;
}
#text3{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    align-items: center;
    justify-content: center;
    h3{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 30px;
    }
    p4{
   font-family: Arial, Helvetica, sans-serif;
    color: gray;  
    }
    text-align: center;
}
#image-boxer{
   flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 9rem;
    background-color: whitesmoke;
    gap: 10px;
    flex: 1;
}

#image-boxer2{
   flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 9rem;
    background-color: whitesmoke;
    gap: 10px;
    flex: 1;
}
#image-boxer3{
   flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 9rem;
    background-color: whitesmoke;
    gap: 10px;
    flex: 1;
}

.image-boxer-img{
    height: 35vh;
    display: flex;
    border-radius: 15%;
    padding-top: 2.5%;
}
