html, body{
    height: 100vh;
    margin: 0;
    width: 100vw;
}
header {
    height: 30rem;
    background-color: transparent;
    align-items: center;
    display :flex;
    flex-direction: column;
    background-image: url(../../../images/IMG-20260805-WA0056.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    box-sizing: border-box;

}
main{
    height: 35rem;
    color: black;
    min-height: 175rem;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}
footer{
    background-color: orangered;
    height: 8rem;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
}
#header-box {
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    padding-right: 3rem;
    box-sizing: border-box;
}
#logo-container img {
    height: 75%;
    width: 30%;
}
#link-container {
    align-items: center;
    display: flex;
    word-spacing: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
nav,li{
    justify-content: center;
    display: inline-block;
    text-decoration: none;
}
nav,li,a {
    text-decoration: none; 
    color: white;
}
nav,li,a:hover {
    color: orange;
}
#text{
    margin-top: -2rem;
    height: 25rem;
    margin-left: 0;
    margin-right: 0;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center; 
    h1{
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }
    p1{
     align-items: center;  
     justify-content: center;
     font-size: 20px; 
    }
    text-align: center;
    color: white;
}
#titre{
    align-items: center;
    padding-left: 14rem ;
    padding-right: 14rem ;
}
#text2{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center; 
    width: 100%;
    h2{
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }
    p{
     align-items: center;  
     justify-content: center; 
    }
    text-align: center;
}
#entete{
    align-items: center;
    padding-top: 7.5rem;
    padding-left: 14rem ;
    padding-right: 14rem ;
}
#main-boxer{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 14rem ;
    box-sizing: border-box;
    background-color: whitesmoke;
    gap: 20px;
}
#main-boxer img{
    height: 100%;
    width: 100%;
}
#main-boxer2{
   flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 14rem ;
    box-sizing: border-box;
    background-color: whitesmoke;
    gap: 20px;
}
#main-boxer3{
   flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 14rem ;
    box-sizing: border-box;
    background-color: whitesmoke;
    gap: 20px;
}
#first-container3{
    display: flex;
    height:45vh;
    box-sizing: border-box;
}
#second-container3{
    display: flex;
    height: 45vh;
    box-sizing: border-box;
}
#third-container3{
    display: flex;
    height: 45vh;
    box-sizing: border-box;
}
#main-boxer3 img{
    height: 100%;
    width: 100%;
}
#container{
    display: flex;
    height:45vh;
    box-sizing: border-box;
    flex: 1;
}
#main-boxer2 img{
    height: 100%;
    width: 100%;
}
#info-box1{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 2rem ;
   padding: 0 18rem ;
    background-color: whitesmoke;
}
.info-container{
    padding: 15px 30px;
    background-color: blue;
    border-radius: 3%;
    color: white;
    display: flex;
}
.info-container:hover{
    color: aqua;
}
#info-box2{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 18rem ;
    background-color: whitesmoke;
}

#info-box3{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 2rem ;
   padding: 0 18rem ;
    background-color: whitesmoke;
}
#text3{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center; 
    width: 100%;
    h2{
        align-items: center;
        justify-content: center;
        font-size: 40px;
    }
    p2{
     align-items: center;  
     justify-content: center; 
    }
    text-align: center;
}
#milieu{
    align-items: center;
    padding-left: 14rem ;
    padding-right: 14rem ;
}
#main-boxer4{
   flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 14rem ;
    box-sizing: border-box;
    background-color: whitesmoke;
    gap: 30px;
    flex: 1;
}
#main-boxer4 img{
    height: 100%;
    width: 100%;
}
#main-boxer5{
   flex-direction: row;
    justify-content: space-between;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 14rem ;
    box-sizing: border-box;
    background-color: whitesmoke;
    gap: 20px;
}
#main-boxer5 img{
    height: 100%;
    width: 100%;
}
#info-box4{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 2rem ;
    padding: 0 22rem ;
    background-color: whitesmoke;
}

#info-box5{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 2rem ;
   padding: 0 22rem ;
    background-color: whitesmoke;
}
#first-container4{
    display: flex;
    height:45vh;
    box-sizing: border-box;
    flex: 1;
}
#second-container4{
    display: flex;
    height: 45vh;
    box-sizing: border-box;
    flex: 1;
}
#first-container5{
    display: flex;
    height:45vh;
    box-sizing: border-box;
}
#second-container5{
    display: flex;
    height: 45vh;
    box-sizing: border-box;
}
#block{
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 4.5rem ;
    padding: 0 26rem ;
    background-color: whitesmoke;
    gap: 20px;
    transition: .3s;
    transform: translateY(-10px);
}
#block1{
    padding: 15px 100px;
    box-shadow:
        0 4px 6px orange,
        0 2px 4px  orange;
        transition: .3s;
    display: flex;
    color: black;
    border-radius: 5%;
}
#block2{
    padding: 15px 100px;
    box-shadow:
        0 4px 6px orange,
        0 2px 4px  orange;
        transition: .3s;
        display: flex;
        border-radius: 5%;
        color: black;
}
#block1:hover{
    box-shadow:
        0 4px 6px orange,
        0 2px 4px  orange;
    transform:translateX(-15px);
    display: flex;
    color: orange;
}
#block2:hover{
    box-shadow:
        0 4px 6px orange,
        0 2px 4px  orange;
    transform:translateX(15px);
    display: flex;
    color: orange;
}
#footer-box{
    padding-top: 30px;
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
    color: white;
    p5{
        font-size: 16px;
        font-family:'Times New Roman', Times, serif ;
        text-align: center;
        color: black;
    }
}
#Contacts-container{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
}
#horaire-container{
  font-size: 25px;
    font-family: 'Times New Roman', Times, serif; 
      justify-content: center;
    text-align: center;
}
#email-container{
   font-size: 25px;
    font-family: 'Times New Roman', Times, serif;   
     justify-content: center;
    text-align: center;
}

